<div class="page-sidebar">
  <a class="logo" href="/index">Neo</a>
  <ul class="list-unstyled accordion-menu">
    <li>
      <a href
        ><i data-feather="activity"></i>Dashboards<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="submenu" id="dashboard-submenu">
        <div id="item-container">
          <li>
            <a href="/index"> <i class="far fa-circle"></i>Default</a>
          </li>
    
        </div>
        <li style="text-align: center">
          <button
            id="add-btn"
            class="btn btn-outline-primary"
            data-bs-toggle="modal"
            data-bs-target="#createDashboardModal"
            style="width: 80%"
          >
            +
          </button>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" class="active"
        ><i data-feather="aperture"></i>Apps<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="submenu">
        <li>
          <a href="/email"><i class="far fa-circle"></i>Email</a>
        </li>
        <li>
          <a href="/contact"><i class="far fa-circle"></i>Contact</a>
        </li>
        <li>
          <a href="/calendar"><i class="far fa-circle"></i>Calendar</a>
        </li>
        <li>
          <a href="/social"><i class="far fa-circle"></i>Social</a>
        </li>
        <li>
          <a href="/file-manager"><i class="far fa-circle"></i>File Manager</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"
        ><i data-feather="code"></i>UI Kits<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="submenu">
        <li>
          <a href="/alerts"><i class="far fa-circle"></i>Alerts</a>
        </li>
        <li>
          <a href="/typography"><i class="far fa-circle"></i>Typography</a>
        </li>
        <li>
          <a href="/icons"><i class="far fa-circle"></i>Icons</a>
        </li>
        <li>
          <a href="/badge"><i class="far fa-circle"></i>Badge</a>
        </li>
        <li>
          <a href="/buttons"><i class="far fa-circle"></i>Buttons</a>
        </li>
        <li>
          <a href="/cards"><i class="far fa-circle"></i>Cards</a>
        </li>
        <li>
          <a href="/dropdowns"><i class="far fa-circle"></i>Dropdowns</a>
        </li>
        <li>
          <a href="/list-group"><i class="far fa-circle"></i>List Group</a>
        </li>
        <li>
          <a href="/toasts"><i class="far fa-circle"></i>Toasts</a>
        </li>
        <li>
          <a href="/modal"><i class="far fa-circle"></i>Modal</a>
        </li>
        <li>
          <a href="/pagination"><i class="far fa-circle"></i>Pagination</a>
        </li>
        <li>
          <a href="/popovers"><i class="far fa-circle"></i>Popovers</a>
        </li>
        <li>
          <a href="/progress"><i class="far fa-circle"></i>Progress</a>
        </li>
        <li>
          <a href="/spinners"><i class="far fa-circle"></i>Spinners</a>
        </li>
        <li>
          <a href="/accordion"><i class="far fa-circle"></i>Accordion</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"
        ><i data-feather="box"></i>Plugins<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="submenu">
        <li>
          <a href="/block-ui"><i class="far fa-circle"></i>Block UI</a>
        </li>
        <li>
          <a href="/session-timeout"
            ><i class="far fa-circle"></i>Session Timeout</a
          >
        </li>
        <li>
          <a href="/tree-view"><i class="far fa-circle"></i>Tree View</a>
        </li>
        <li>
          <a href="/select2"><i class="far fa-circle"></i>Select2</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"
        ><i data-feather="star"></i>Pages<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="submenu">
        <li>
          <a href="/invoice"><i class="far fa-circle"></i>Invoice</a>
        </li>
        <li>
          <a href="/404"><i class="far fa-circle"></i>404 Page</a>
        </li>
        <li>
          <a href="500"><i class="far fa-circle"></i>500 Page</a>
        </li>
        <li>
          <a href="/blank-page"><i class="far fa-circle"></i>Blank Page</a>
        </li>
        <li>
          <a href="login"><i class="far fa-circle"></i>Login</a>
        </li>
        <li>
          <a href="register"><i class="far fa-circle"></i>Register</a>
        </li>
        <li>
          <a href="lockscreen"><i class="far fa-circle"></i>Lockscreen</a>
        </li>
        <li>
          <a href="price"><i class="far fa-circle"></i>Price</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"
        ><i data-feather="droplet"></i>Form<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="submenu">
        <li>
          <a href="/form-elements"
            ><i class="far fa-circle"></i>Form Elements</a
          >
        </li>
        <li>
          <a href="/form-layout"><i class="far fa-circle"></i>Form Layout</a>
        </li>
        <li>
          <a href="/form-validation"
            ><i class="far fa-circle"></i>Form Validation</a
          >
        </li>
        <li>
          <a href="/form-select2"><i class="far fa-circle"></i>Select2</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"
        ><i data-feather="grid"></i>Tables<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="submenu">
        <li>
          <a href="/tables"><i class="far fa-circle"></i>Basic Tables</a>
        </li>
        <li>
          <a href="/data-tables"><i class="far fa-circle"></i>Data Tables</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/charts"><i data-feather="pie-chart"></i>Charts</a>
    </li>
  </ul>
  <a href="#" id="sidebar-collapsed-toggle"
    ><i data-feather="arrow-right"></i
  ></a>
</div>
<!-- 
<script>
  const addBtn = document.getElementById("add-btn");
  const submenu = document.getElementById("dashboard-submenu");
  const itemContainer = document.getElementById("item-container");

  addBtn.addEventListener("click", (e) => {
    e.preventDefault();
    // Crear un elemento <li> con el contenido deseado
    const newPageBtn = document.createElement("li");
    newPageBtn.innerHTML = `
        <a href="#"><i class="far fa-circle"></i>oe</a>
    `;
    // Agregar el nuevo <li> al contenedor
    itemContainer.appendChild(newPageBtn);
  });
</script> -->
   <!-- Script para el cargar los nombres de los dashboard -->
   <script >
    function getCookie(name) {
      const value = `${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
      }
      // Obtener el token CSRF de la cookie
      const csrfToken_ = getCookie('csrf_access_token');

    async function loadDashboards(){
    const response = await fetch('http://127.0.0.1:5000/api/dashboard/get_names', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': csrfToken_
      },
      credentials: 'include',
    })
    response.json().then((data) => {
      const dashboards = data.dashboards;
      if(!dashboards){
        return;
      }
      displayDashboards(data.dashboards);
    })
    .catch((error) => {
      console.error('Error:', error);
      return;
    });
  
    
  }
    function displayDashboards(dashboards) {
      const dashboardList = document.getElementById('item-container');

     // Limpia la lista antes de agregar nuevos elementos
     while (dashboardList.children.length > 1) {
        dashboardList.removeChild(dashboardList.lastChild);
     }


     // Recorre los dashboards y crea un <li> para cada uno
      dashboards.forEach(element => {
       const listItem = document.createElement('li');
       listItem.innerHTML = `<a href="#" style="overflow-wrap: break-word;"><i class="far fa-circle"></i>${element.name}</a>`; // Muestra el nombre del dashboard
       dashboardList.appendChild(listItem);
      
     });
    }

    document.addEventListener("DOMContentLoaded", loadDashboards());
    </script>

<script>
  const listItems = document.querySelectorAll(
    ".list-unstyled.accordion-menu > li > a"
  );
  const sublinks = document.querySelectorAll(".submenu > div > li > a");

  function setActiveItem(index) {
    localStorage.setItem("activeMenuItem", index);
  }

  function setActiveLink(index) {
    localStorage.setItem("activeLink", index);
  }

  function restoreActiveItem() {
    const activeIndex = localStorage.getItem("activeMenuItem");
    if (activeIndex) {
      listItems[activeIndex].closest("li").classList.add("active-page");
      restoreActiveLink();
    }
  }

  function restoreActiveLink() {
    const activeIndex = localStorage.getItem("activeLink");
    if (activeIndex) {
      sublinks[activeIndex].classList.add("active");
    }
  }

  listItems.forEach((item, index) => {
    item.addEventListener("click", (e) => {
      e.stopPropagation();

      const parent = item.closest("li");

      document
        .querySelectorAll(".list-unstyled.accordion-menu > li")
        .forEach((parentLi) => {
          parentLi.classList.remove("active-page");
        });

      parent.classList.add("active-page");
      setActiveItem(index);
    });
  });

  sublinks.forEach((sublink, index) => {
    sublink.addEventListener("click", (e) => {
      sublinks.forEach((sublink) => sublink.classList.remove("active"));
      sublink.classList.add("active");

      setActiveLink(index);
    });
  });

  document.addEventListener("DOMContentLoaded", restoreActiveItem);
</script>
